<!DOCTYPE html>
<html th:replace="fragments/layout :: layout(~{::title}, ~{::link}, ~{::#content}, ~{::script})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyFresh :: 로그인</title>
    <link rel="stylesheet" type="text/css" href="/css/member/login.css">
    <link rel="stylesheet" type="text/css" href="/css/payment/payment.css">
    <style></style>
</head>
<body>
<div id="whole_container">
    <div id="content">
        <h2>로그인</h2>
        <form id="form" th:action="@{login}" th:object="${loginFormDto}"  method="post" autocomplete="off">
            <div th:if="${error}">
                <p class="form-error">[[${loginFailMsg}]]</p>
            </div>
            <div id="container">
                <div id="product_list">
                    <h4 class="product_type" style="padding-top: 0px;"></h4>
                    <div class="products_container">
                        <div class="payment_row">
                            <span style="padding-top: 15px;">이메일<span style="color: orangered">*</span></span>
                            <span>
                                <input
                                        class="member-input"
                                        type="text"
                                        th:field="*{userEmail}"
                                        placeholder="이메일을 입력해주세요"
                                />
                                                               <p class="form-error" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></p>
                            </span>
                        </div>
                        <div class="payment_row">
                            <span style="padding-top: 15px;">비밀번호<span style="color: orangered">*</span></span>
                            <span>
                                <input
                                        class="member-input"
                                        type="password"
                                        th:field="*{pwd}"
                                        placeholder="비밀번호를 입력해주세요"
                                />
                                                               <p class="form-error" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></p>
                            </span>
                        </div>
                        <div class="payment_row">
                            <span></span>
                            <span>아이디 찾기 | 비밀번호 찾기</span>
                        </div>
                        <div class="payment_row">
                            <span></span>
                            <span style="padding-top: 15px; padding-left: 500px;">아이디 기억하기</span>
                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE3Ni4wMDAwMDAsIC0xMDkwLjAwMDAwMCkgdHJhbnNsYXRlKDEwMC4wMDAwMDAsIDkzNi4wMDAwMDApIHRyYW5zbGF0ZSg2MC4wMDAwMDAsIDE0Mi4wMDAwMDApIHRyYW5zbGF0ZSgxNi4wMDAwMDAsIDEyLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIgZmlsbD0iIzRFN0E1MSIvPgogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGQ9Ik03IDEyLjY2N0wxMC4zODUgMTYgMTggOC41Ii8+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4="
                                 class="checked" id="selected-checked" style="padding-top: 10px;" hidden/><img
                                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgc3Ryb2tlPSIjREREIj4KICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICA8Zz4KICAgICAgICAgICAgICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNjY5LjAwMDAwMCwgLTEwOTAuMDAwMDAwKSB0cmFuc2xhdGUoMTAwLjAwMDAwMCwgOTM2LjAwMDAwMCkgdHJhbnNsYXRlKDU1My4wMDAwMDAsIDE0Mi4wMDAwMDApIHRyYW5zbGF0ZSgxNi4wMDAwMDAsIDEyLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMS41Ii8+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGQ9Ik03IDEyLjY2N0wxMC4zODUgMTYgMTggOC41Ii8+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K"
                                class="unchecked" id="selected-unchecked" style="padding-top: 10px;"/>
                            <input type="checkbox" id="terms" name="prvc_arge" value="1" hidden>
                        </div>
                        <div id="member-submit"
                             style="cursor: pointer; font-weight: 500; font-size: 16px; text-align: center; line-height: 50px; margin-top: 30px;">
                            로그인
                        </div>
                        <div
                                id="member-sns"
                                style="cursor: pointer; font-weight: 500; font-size: 16px; text-align: center; line-height: 50px; margin-top: 30px; display: flex;"
                                onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=7ab07adcdacec7c4752add19a162ee1b&redirect_uri=http://localhost:8080/members/kakao&response_type=code'"
                        >
                            <img
                                    id="kakao-img"
                                    src="https://www.svgrepo.com/show/368252/kakao.svg"
                                    style="height: 24px;padding-top: 10px;padding-right: 10px;padding-left: 250px;"
                            />
                            카카오 로그인
                        </div>
                        <div id="member-signup"
                             onclick="location.href='/register'"
                             style="cursor: pointer; font-weight: 500; font-size: 16px; text-align: center; line-height: 50px; margin-top: 30px;">
                            회원가입
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="module" src="/js/member/login.js"></script>
</body>
</html>