<!DOCTYPE html>
<html th:replace="fragments/layout :: layout(~{::title}, ~{::link}, ~{::#content}, ~{::script})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyFresh :: 회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/member/login.css">
    <link rel="stylesheet" type="text/css" href="/css/payment/payment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <style></style>
</head>

<body>
<div id="whole_container">
    <div id="content">
        <h2>회원가입</h2>
        <form id="form" th:action="@{register}" th:object="${registerForm}" method="post" autocomplete="off">
            <div id="container">
                <div id="product_list">
                    <h4 class="product_type" style="padding-top: 0px;"></h4>
                    <div class="products_container">
                        <div class="payment_row">
                            <span style="width: 100%; display: flex; align-items: baseline;">이메일<span style="color: orangered">*</span>
                                                            <div id="duplBtn">중복확인</div>

                            </span>
                            <span>
                            <input class="member-input" type="text" th:field="*{userEmail}" placeholder="이메일을 입력해주세요"/>
            <p class="form-error" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></p>
                        </span>
                        </div>
                        <div class="payment_row">
                            <span style="padding-top: 15px;">비밀번호<span style="color: orangered">*</span></span>
                            <span>
                            <input class="member-input" type="password" th:field="*{pwd}" placeholder="비밀번호를 입력해주세요"/>
            <p class="form-error" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></p>
                        </span>
                        </div>
                        <div class="payment_row">
                            <span style="padding-top: 15px;">비밀번호 확인<span style="color: orangered">*</span></span>
                            <span>
                            <input
                                    class="member-input"
                                    type="password"
                                    th:field="*{cpwd}"
                                    placeholder="비밀번호를 한번 더 입력해주세요"
                            />
                                <p class="form-error" th:if="${#fields.hasErrors('cpwd')}" th:errors="*{cpwd}"></p>
                        </span>
                        </div>
                        <div class="payment_row">
                            <span style="padding-top: 15px;">이름<span style="color: orangered">*</span></span>
                            <span>
                            <input
                                    class="member-input"
                                    type="text"
                                    th:field="*{userNm}"
                                    placeholder="이름을 입력해 주세요"
                            />
                               <p class="form-error" th:if="${#fields.hasErrors('userNm')}" th:errors="*{userNm}"></p>
                        </span>
                        </div>
                        <div class="payment_row">
                            <span style="padding-top: 15px;">휴대폰 번호<span style="color: orangered">*</span></span>
                            <span>
                            <input
                                    class="member-input"
                                    type="text"
                                    th:field="*{telno}"
                                    placeholder="휴대폰 번호를 입력해주세요"
                            />
                               <p class="form-error" th:if="${#fields.hasErrors('telno')}" th:errors="*{telno}"></p>
                        </span>
                        </div>
                        <div class="payment_row">
                            <span style="padding-top: 15px;">주소<span style="color: orangered">*</span></span>
                            <span><div id="member-signup" style="cursor: pointer;font-weight: 500;font-size: 16px;text-align: center;line-height: 50px;margin-top: 0px;width: 450px;"><i class="fa fa-search"></i> 주소 검색</div></span>
                        </div>
                        <div class="payment_row">
                            <span></span>
                            <span><input class="member-input" placeholder="우편번호" th:field="*{zoneCode}" type="text" readonly="readonly" style="background-color: #dedede;">
                                <p class="form-error" th:if="${#fields.hasErrors('zoneCode')}" th:errors="*{zoneCode}"></p>
                            </span>
                        </div>
                        <div class="payment_row">
                            <span></span>
                            <span>
                                <input class="member-input" placeholder="주소를 검색해 주세요" th:field="*{address}" type="text" readonly="readonly" style="background-color: #dedede;"/>
                                <p class="form-error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                            </span>
                        </div>
                        <div class="payment_row">
                            <span></span>
                            <span><input class="member-input" placeholder="나머지 주소를 입력해주세요" th:field="*{addressDetail}" type="text"/>
                            <p class="form-error" th:if="${#fields.hasErrors('addressDetail')}" th:errors="*{addressDetail}"></p>
                            </span>
                        </div>
                        <div class="payment_row">
                            <span style="padding-top: 15px;">추천인 이메일</span>
                            <span>
                            <input
                                    class="member-input"
                                    type="text"
                                    th:field="*{rcmdrEmail}"
                                    placeholder="추천인 이메일을 입력해주세요."
                            />
                                <p class="form-error" th:if="${#fields.hasErrors('rcmdrEmail')}" th:errors="*{rcmdrEmail}"></p>
                        </span>
                        </div>
                        <div class="payment_row">
                            <span style="padding-top: 35px;">성별</span>
                            <span>
                                <div style="display: flex; justify-content: center">
                                    <label class="container">남성
                                        <input class="checkmark" type="radio" th:field="*{gender}" th:value="male">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">여성
                                        <input class="checkmark" type="radio" th:field="*{gender}" th:value="female">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">선택안함
                                        <input class="checkmark" type="radio" th:field="*{gender}" th:value="none">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            <input type="hidden" id="gender" value="${kakao.gender}" />
                        </span>
                        </div>
                    </div>
                    <h4 class="product_type"></h4>
                    <div class="products_container">
                        <div class="payment_row">
                            <span style="padding-top: 15px;">이용 약관 동의<span style="color: orangered">*</span></span>
                            <input type="checkbox" class="checkbox" id="AllCheck">
                            <label th:for="AllCheck" style="padding-top: 15px; padding-left: 400px;">전체 동의</label>
                        </div>
                        <div class="payment_row">
                            <span></span>
                            <input type="checkbox" class="checkbox" id="required">
                            <label th:for="required" style="padding-top: 15px; padding-left: 400px;">이용 약관 동의(필수)</label>
                        </div>
                        <div class="payment_row">
                            <span></span>
                            <input type="checkbox" class="checkbox" id="prvcArge" name="prvcArge">
                            <label th:for="prvcArge" style="padding-top: 15px; padding-left: 400px;">개인정보 수집 이용 동의 (선택)</label>
                        </div>
                        <div id="member-submit"
                             style="cursor: pointer; font-weight: 500; font-size: 16px; text-align: center; line-height: 50px; margin-top: 30px;">
                            가입하기
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="module" src="/js/member/register.js"></script>
</body>
</html>