<!DOCTYPE html>
<html th:replace="fragments/layout :: layout(~{::title}, ~{::link}, ~{::#content}, ~{::script})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyFresh :: 장바구니</title>
    <link rel="stylesheet" type="text/css" href="/css/payment/payment.css">
    <link rel="stylesheet" type="text/css" href="/css/order/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <style></style>
</head>
<body>
<div id="whole_container">
    <div id="content">
        <h2>장바구니</h2>
        <div id="container">
            <div id="product_list" style="margin-right: 20px;">
                <div class="select_or_delete">
                    <span id="select_all" style="display: flex; cursor: pointer; padding-top: 5px; align-items: center;">
                        <input type="checkbox" class="checkbox" id="allCheck" checked>
                        <label th:for="allCheck">전체선택</label>
                    <span class="select_contour"></span>
                    <span id="delete-checked" style="cursor: pointer">선택삭제</span>
                </div>
                <div class="products_container">
                    <h4 class="product_type">냉장 상품</h4>
                    <div id="cart-empty" style="margin-left: 230px; margin-top: 50px; font-size: 16px;">
                    </div>
                    <!-- 여기에 상품들을 jquery, ajax 로 원하는 만큼 넣기 -->
                    <div id="cart"></div>
                </div>

            </div>
            <div style="width: 284px;">
                <div id="shipping_payment">
                    <div id="shipping">
                        <h4>배송지</h4>
                        <p id="is_star_deli">&nbsp</p>
                        <p>&nbsp</p>
                        <a href="/address/list"><button></button></a>
                    </div>
                    <div id="payment_box">
                        <div style="padding: 20px">
                            <div class="payment_row">
                                <span>상품금액</span>
                                <span id="product_price">0원</span>
                            </div>
                            <div class="payment_row">
                                <span>상품할인금액</span>
                                <span id="discount_price">0원</span>
                            </div>
                            <div class="payment_row">
                                <span>배송비</span>
                                <span>0원</span>
                            </div>
                            <div class="payment_row total">
                                <span>결제예정금액</span>
                                <span id="payment_price">0원</span>
                            </div>
                        </div>
                    </div>
                </div>
                    <button id="order_submit" style="cursor: pointer">주문하기</button>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/js/order/cart.js"></script>
<script th:inline="javascript">
    const loginMember = [[${session.loginMember}]];
</script>
</body>
</html>