<html>
<html th:replace="fragments/layout :: layout(~{::title}, ~{::link}, ~{::#content}, ~{::script})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyFresh :: HOME</title>
    <link>
    <style></style>
</head>

<body>
<div id="whole_container">
    <div id="content">
    홈에 들어갈 내용
    </div>
   </div>
<script type="module" src="/js/utils/header.js"></script>
</body>
</html>