<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="myPage" id="my_kurly">
    <h2>마이 페이지</h2>
    <ul>
        <a href="/payments/logs">
            <li>주문 내역</li>
        </a>
        <a href="">
            <li>선물 내역</li>
        </a>
        <a href="/mypage/mypick?page=1&pageSize=5">
            <li>찜한 상품</li>
        </a>
        <a href="/address/list/">
            <li>배송지 관리</li>
        </a>
        <a href="/mypage/myReview?page=1&pageSize=5">
            <li>상품 후기</li>
        </a>
        <a href="/mypage/product_inquiry?page=1&pageSize=5">
            <li>상품 문의</li>
        </a>
        <a href="">
            <li>적립금</li>
        </a>
        <a href="/mypage">
            <li>쿠폰</li>
        </a>
        <a href="/members/info">
            <li>개인 정보 수정</li>
        </a>
    </ul>
</div>
</body>
</html>