<!DOCTYPE html>
<html th:replace="fragments/layout :: layout(~{::title}, ~{::link}, ~{::#review_board}, ~{::script})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlyFresh :: 리뷰 게시판</title>
    <link rel="icon" href="/only-fresh-favicon.svg" />
    <link rel="stylesheet" type="text/css" href="/css/board/board.css">
    <style></style>
</head>
<body>
<div id="review_board">
    <div id="title_desc_filter_container">
        <h2>PRODUCT REVIEW</h2>
        <div id="desc_filter">
            <div id="title_desc">
                <p class="review_desc">- 상품에 대한 리뷰를 남기는 공간입니다. 해당 게시판의 성격과 다른 글은 사전동의 없이 담당 게시판으로 이동될 수
                    있습니다.
                </p>
            </div>
            <select id="sort-option" name="option">
                <option value="bbsId">최근등록순</option>
                <option value="revwLike">추천순</option>
            </select>
        </div>
    </div>
    <div class="board">
        <div class="th_container">
            <div id="no" class="th">번호</div>
            <div id="title" class="th">제목</div>
            <div id="writer" class="th">작성자</div>
            <div id="reg_date" class="th">작성일</div>
            <div id="like_cnt" class="th">추천</div>
        </div>
        <div id="board">
            <!--            글-->
        </div>
    </div>

    <div id ="board_footer">
        <div class="border_write_btn">
            <p class="p_write_btn">글쓰기</p>
        </div>
        <div class="ph">
            <div class="paging">
                <!--페이지 네비-->
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal hide" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <p id="modal-title" class="modal-title">상품 리뷰하기</p>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td>제목</td>
                            <td>
                                <div class="field_cmt">
                                    <input class="form-control1" id="bbs_title" type="text" placeholder="제목을 입력해주세요" maxlength="60">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>내용</td>
                            <td>
                                <div class="field_cmt">
                                    <textarea class="form-control2" id="contents" cols="100" rows="10"
                                              placeholder="내용을 입력해주세요" maxlength="2000"></textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <p class="btn-cancel">취소</p>
                    <p id="modal-btn" class="btn-write">등록</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/js/board/board.js" th:inline="javascript"></script>
</body>
</html>