<html>
<html th:fragment="layout (title, links, content, scripts)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">OnlyFresh</title>
    <link rel="icon" href="/icon/only-fresh-favicon.svg" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <th:block th:replace="${links}"/>
    <style>
        #whole_container {
            width: 100%;
            height: 100vh;
        }
        a {
            text-decoration: none;
        }
        #search_first a {
            font-weight: 600;
        }
    </style>
</head>

<body>
<div id="whole_container">
    <div>
        <div id="navigation">
            <div id="signup_signin">
                <a id="signup" th:href="${session.loginMember==null ? '/register' : '/mypage'}"
                   th:text="${session.loginMember==null ? '회원가입' : session.loginMember.userNm}"></a>
                <div class="css-bar"></div>
                <a id="signin" th:href="${session.loginMember==null ? '/login' : '/logout'}"
                   th:text="${session.loginMember==null ? '로그인' : '로그아웃'}"></a>
                <div class="css-bar"></div>
                <a id="cust">고객센터</a>
            </div>
            <div id="search">
                <div id="search_first">
                    <a href="/">
                        <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg">
                            <image href="/icon/logo.svg" height="60" width="60"/>
                        </svg>
                    </a>
                    <a href="/">Only 프레쉬</a>
                </div>
                <div id="css-input1">
                    <div id="input_container">
                        <input placeholder="검색어를 입력해주세요"/>
                        <img src="/imgs/cart/loupe.png" style="width: 20px; height: 20px"/>
                    </div>
                </div>
                <div id="css-icon1">
                    <div id="icon_container">
                        <a class="css-location" href="/address/list"><img src="/imgs/cart/location.png"/></a>
                        <a class="css-heart" href="/mypage"><img src="/imgs/cart/heart.png"/></a>
                        <a class="css-cart" href="/cart"><img src="/imgs/cart/shopping-cart.png"/></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="menubar">
            <div class="css-menubar">
                <div id="category_container">
                    <img src=""/>
                    <p style="width: 80px;" id="show_category_button">카테고리</p>
                </div>
                <div id="menus">
                    <a class="css-a" href="/products/nav?page=1&navName=inDate">신상품</a>
                    <a class="css-a" href="/products/nav?page=1&navName=salesRate">베스트</a>
                    <a class="css-a" href="/products/nav?page=1&navName=dsRate">알뜰쇼핑</a>
                    <a class="css-a" href="/event/main">특가/혜택</a>
                </div>
                <div id="deli_info">
                    <a href="">
                        <div class="css-deli">
                            <span id="purple_deli_info">새벽·낮</span> 배송안내
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="cat_wrapper">
        <div id="main_cat_container">
        </div>
    </div>
    <div th:replace="${content}" id="content">

    </div>
    <footer>
        <img src="/icon/logo.svg" alt="logo">
        <div id="member_container">
            <a href="https://github.com/dr94406">
                <p class="mem_row"><img src="/imgs/githubLogo.png">김형민</p>
            </a>
            <a href="https://github.com/PGRRR">
                <p class="mem_row"><img src="/imgs/githubLogo.png">이선우</p>
            </a>
            <a href="https://github.com/Riiver-J">
                <p class="mem_row"><img src="/imgs/githubLogo.png">정여경</p>
            </a>
            <a href="https://github.com/narlae">
                <p class="mem_row"><img src="/imgs/githubLogo.png">김영준</p>
            </a>
            <a href="https://github.com/xpmxf4">
                <p class="mem_row"><img src="/imgs/githubLogo.png">박채훈</p>
            </a>
            <a href="https://github.com/didqksrla">
                <p class="mem_row"><img src="/imgs/githubLogo.png">김경빈</p>
            </a>
        </div>
    </footer>
</div>
<script type="module" src="/js/utils/header.js"></script>
<th:block th:replace="${scripts}"/>
</body>
</html>