<!DOCTYPE html>
<html th:replace="fragments/layout :: layout(~{::title}, ~{::link}, ~{::#content}, ~{::script})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyFresh :: 마이페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/payment/payment.css">
    <link rel="stylesheet" type="text/css" href="/css/myPage/address.css">
    <link rel="stylesheet" type="text/css" href="/css/myPage/addressForm.css">
    <link rel="stylesheet" type="text/css" href="/css/myPage/myPage.css">
    <style></style>
</head>
<body>
<div id="whole_container">
    <div id="content">
        <div th:replace="~{myPage/myPage :: myPage}"></div>
        <div id="mypage_content">
            <div id="addr_title">
                <h2 id="add_coupon_box_tits">배송지 등록</h2>
            </div>
            <div id="address_add">
                <form id="address_add_body" name="addrInsert" action="/address/create" method="post">
                    <div class="insert_addr">
                        <div id="tit_deli" name="tit2">
                        </div>
                        <div class="field">
                            <div class="address_search">
                                <div>
                                    <input type="text"
                                           id="main_addr"
                                           class="addrMain"
                                           name="main_addr"
                                           placeholder="주소를 검색해 주세요"
                                           readonly="readonly"
                                    />
                                    <button type="button" class="rebtn" value="우편번호 찾기" onclick="execPostcode()">
                                        <span class="ico"></span>
                                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIxIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0iI0ZGRiIgZmlsbC1vcGFjaXR5PSIwIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0wIDBIMjBWMjBIMHoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC40KSIvPgogICAgICAgIDxwYXRoIGZpbGw9IiM0RTdBNTEiIGQ9Ik05LjMzMyA0LjY2N0MxMS45MTEgNC42NjcgMTQgNi43NTYgMTQgOS4zMzNjMCAxLjA1MS0uMzQ3IDIuMDItLjkzMyAyLjguMDI0LjAxOC4wNDguMDQuMDcxLjA2MmwyIDJjLjI2LjI2LjI2LjY4MyAwIC45NDMtLjI2LjI2LS42ODIuMjYtLjk0MyAwbC0yLTItLjA2MS0uMDcxYy0uNzguNTg2LTEuNzUuOTMzLTIuOC45MzMtMi41NzggMC00LjY2Ny0yLjA5LTQuNjY3LTQuNjY3czIuMDg5LTQuNjY2IDQuNjY2LTQuNjY2em0wIDEuMzMzQzcuNDkzIDYgNiA3LjQ5MiA2IDkuMzMzYzAgMS44NDEgMS40OTIgMy4zMzQgMy4zMzMgMy4zMzQgMS44NDEgMCAzLjMzNC0xLjQ5MyAzLjMzNC0zLjMzNEMxMi42NjcgNy40OTMgMTEuMTc0IDYgOS4zMzMgNnoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC40KSIvPgogICAgPC9nPgo8L3N2Zz4K">
                                        우편번호 찾기
                                    </button>
                                </div>
                            </div>
                            <input class="member-input" placeholder="우편번호" name="city_code" id="addr1" type="text"
                                   readonly="readonly" hidden>
                            <input type="text" id="sub_addr" name="sub_addr" maxlength="50"
                                   placeholder="나머지 주소를 입력해주세요"
                                   data-format="text"/>
                        </div>
                        <div class="field">
                            <label class="label_block" for="addr_name">받으실 분</label><br>
                            <input type="text" id="addr_name" name="addr_name" maxlength="20"
                                   placeholder="이름을 입력해주세요"/>
                        </div>
                        <div class="field">
                            <label class="label_block" for="addr_tel">휴대폰</label><br>
                            <input type="text" id="addr_tel" name="addr_tel" minlength="9" maxlength="11"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                   placeholder="번호를 입력해주세요"/>
                        </div>
                        <div class="label_default">
                            <input type="checkbox" id="chk_addr" name="chk_addr" value="true">
                            <label for="chk_addr" class="ico"></label>
                            기본 배송지로 저장
                        </div>
                        <div>
                            <button type="button" id="insertBtn" class="btn active" onclick="addrInsertChk()">
                                배송지 등록
                            </button>
                        </div>
                        <div>
                            <a href="/address/list">
                                <button type="button" id="listBtn" class="btn list">
                                    목록으로 돌아가기
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="module" src=""></script>
</body>
</html>