*{
    box-sizing: border-box;
}

#navigation {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 1050px;
    margin: 0px auto;
    position: relative;
    height: 100px;
    padding-bottom: 20px;
}

#signup_signin {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
}

#signup, #signin{
    display: block;
    cursor: pointer;
    vertical-align: middle;
    color: #4E7A51;
}

.css-bar {
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}

#cust {
    line-height: 35px;
    position: relative;
    color: #333333;
}

#signup_signin div {
    width: 0px;
    border: 1px solid #d9d9d9;
}

/* nav 두 번째 div */
#search {
    height: 100px;
    padding-top: 36px;
}

#search_first {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    height: 63px;
}

#search_first > * {
    margin-right: 8px;
}

#search_first a {
    font-size: 18px;
    color: #4E7A51;
    text-decoration: none;
    font-weight: 600;
}

#search_first div {
    width: 0px;
    border: 1px solid #d9d9d9;
}

#css-input1{
    position: relative;
    width: 1050px;
    margin: 0px auto;
}

#css-icon1 {
    position: relative;
    width: 1050px;
    margin: 0px auto;
}

#input_container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 325px;
    top: -55px;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid #333333;
    border-radius: 6px;
}

#input_container input, input:focus {
    border: none;
    font-size: 16px;
    margin-left: 10px;
    outline:none;
    width: 80%;
}

#input_container img {
    margin-right: 14px;
}

#icon_container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    right: 0px;
    top: -49px;
}

.css-location {
    width: 36px;
    height: 36px;
    margin-right: 20px;
}
.css-heart {
    width: 36px;
    height: 36px;
}
.css-cart {
    position: relative;
    margin-left: 20px;
}

#menubar {
    min-width: 1050px;
    letter-spacing: -0.3px;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
    width: 100%;
    z-index: 10;
}

.css-menubar {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1050px;
    height: 56px;
    margin: 0px auto;
}

.css-a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 150px;
    height: 55px;
    padding-top: 18px;
    line-height: 20px;
    text-align: center;
    color: rgb(51, 51, 51);
}

#menubar > * {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}

#category_container span {
    white-space: nowrap;
}

#menus {
    display: flex;
    margin-left: 30px;
}

#deli_info {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-deli{
    height: 32px;
    padding: 6px 16px;
    border-radius: 18px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.32px;
}

#purple_deli_info {
    color: #4E7A51;
    margin-right: 4px;
    font-weight: 500;
}

/*카테고리*/
#show_category_button{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 100px;
}

#show_category_button:hover #categories {
    display: block;
}


#main_cat_container {
    position: absolute;
    display: none;
    width: 150px;
    left: 420px;
    background-color: white;
    margin: 0;
    box-shadow: 2px 4px 5px rgb(0 0 0 / 30%);
    z-index: 2;
}


.cat {
    padding: 8px 0 8px 10px;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    color: #949296;
    /* border: 1px solid springgreen; */
}

.cat:hover {
    color: #4E7A51;
    background-color: #f7f7f7;
    cursor: pointer;
}

#main_cat_container a, #sub_cat_container a {
    display: block;
    text-decoration: none;
    color: #333333;
}

#main_cat_container a:hover, #sub_cat_container a:hover {
    color: #4E7A51;
}

/*
신 카테고리
 */
.depth{
    height: 100%;
    background-image: none;
    background-color: #fff;
    padding-right: 0;
    border: 1px solid #ddd;
    box-shadow: 2px 4px 5px rgb(0 0 0 / 30%);
    left: 147px;
    display: none;
    position: absolute;
    width: 150px;
    top: 0px;
    z-index: 2;
}
