.insert_addr{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#add_coupon_box_tits {
    font-weight: 700;
    font-size: 24px;
    color: #333;
}

#addAddress_content { /* 전체 영역 */
    /*height: 100%;*/
    /*width: 100%;*/
    width: 740px;
}

#addr_title { /* 배송지 수정 */
    display: flex;
    align-items: center;

    margin: 0;
}

/* 헤더 */

.tit_result { /* 샛별배송 안내문구 */
    display: block;
    padding: 55px 0 13px;
    font-weight: 600;
    font-size: 22px;
    color: #333;
    line-height: 30px;
    text-align: center;
}

.deli_type { /* 샛별배송 */
    color: #4E7A51;
}

.desc { /* 안내문구 */
    margin-top: 10px;
    font-size: 16px;
    display: block;
    font-weight: 400;
    color: #999;
}

/* 재검색 */
.rebtn {
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    right: 0;
    top: 0;
    width: 29%;
    padding-right: 7px;
    border: 1px solid #4E7A51;
    background-color: #f8f8f8;
    font-weight: 500;
    color: #4E7A51;
    border-radius: 3px;
    line-height: 44px;
}


#address_add { /* 전체 내용 */
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 0;
}

#address_add_body { /* input창 */
    margin: 0;
}

.field {
    padding-top: 22px;
}

#main_addr { /* 메인 배송지 */
    width: 70%;
    margin-bottom: 5px;
    font-weight: 720;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.3px;
    background-color: #f8f8f8;
}

.addrMain { /* 메인 배송지 */
    padding-bottom: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #FAFAFA;
}

.addrMain {
    width: 500px;
}

input[type=text] {
    width: 100%;
    height: 48px;
    padding: 0 11px 1px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    margin: 0 auto;
}

#sub_addr { /* 서브 */
    height: 44px;
    padding: 1px 11px 0 15px;
    border-radius: 3px;
    font-family: Noto Sans;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -.5px;
}

.label_block { /* 받는사람 */
    padding-bottom: 7px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.3px;
}

.label_default { /* 기본 배송지 체크*/
    padding: 20px 0 19px;
    font-size: 14px;
}

/* 체크박스 */

input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    border-radius: 2px;
    background: 0 0;
    vertical-align: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=checkbox] + .ico {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 0;
    background: url(https://res.kurly.com/mobile/service/common/2006/ico_checkbox.svg) no-repeat 0 0px / contain;
    background-size: 24px 24px;
    background-position: 50% 50%;
    vertical-align: -7px;
}

input[type=checkbox]:checked + .ico { /* 체크표시 */
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 0;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE3Ni4wMDAwMDAsIC0xMDkwLjAwMDAwMCkgdHJhbnNsYXRlKDEwMC4wMDAwMDAsIDkzNi4wMDAwMDApIHRyYW5zbGF0ZSg2MC4wMDAwMDAsIDE0Mi4wMDAwMDApIHRyYW5zbGF0ZSgxNi4wMDAwMDAsIDEyLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIgZmlsbD0iIzRFN0E1MSIvPgogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGQ9Ik03IDEyLjY2N0wxMC4zODUgMTYgMTggOC41Ii8+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4) no-repeat 0 1px / contain;
    /*background-color: transparent;*/
    /*background-repeat: no-repeat;*/
    background-size: 24px 24px;
    background-position: 50% 50%;
    vertical-align: -7px;
}

/* 버튼 */

.btn {
    width: 100%;
    height: 45px;
    text-align: center;
    outline: none;
    margin-bottom: 15px;
}

.btn.active {
    border: 1px solid #4E7A51;
    background-color: #4E7A51;
    color: #fff;
}


.btn.list {
    border: 1px solid #ddd;
    background-color: #F0F0F0;
    color: #333;
}

.div_default + btn.active {
    margin-top: 0;
}